/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    min-height: 70px;
    background-color: #f8f9fa; 
    color: #000;
    padding: 10px;
}

/* Navbar */
.navbar {
    background-color: #e3f2fd;
}
/* Banner */
#banner {
    margin-top: 70px; 
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: calc(50vh - 70px);
    position: relative;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.boton-empezar {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; 
    padding: 15px 40px;
    border-radius: 15px;
    transition: all 0.3s;
}

.boton-empezar:hover {
    background-color: #0056b3; 
}

/* Memberships */
#Memberships {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

#Memberships div {
    flex: 0 0 calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa; 
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Memberships div img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#Memberships div h4 {
    color: #000; 
    font-size: 20px;
    margin-bottom: 10px;
}

#Memberships div p {
    color: #6c757d; 
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-comprar {
    display: inline-block;
    text-decoration: none;
    color: #007bff; 
    background-color: transparent;
    border: 2px solid #007bff; 
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.boton-comprar:hover {
    background-color: #0056b3;
    color: #fff;
}

/* FindUs */
#FindUs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

#FindUs div {
    flex: 0 0 calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#FindUs div img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #f8f9fa; 
    color: #000; 
    padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .swal2-popup {
        font-size: 12px; 
    }
}
@media (min-width: 768px) {
    .swal2-popup {
        font-size: 16px; 
    }
}
